*~
debug
build
gen
bin
local.properties
*.apk
/.classpath
/.project
*.iml
.idea
.DS_Store
out
project.properties
target
gen-external-apklibs
classes
.gradle
lint_result*
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties
app/packer.properties
output.json
app/release
